
.personal {
	width: 30%;
	padding-left: 1%;
	padding-right: 1%;
	flex: 1 1 1;
	display: flex;
	flex-direction: column;
}

.info {
	width: 70%;
	//flex: 3 3 3;
	padding-left: 20px;
}

img.headshot {
	width: 100%;
	height: auto;
	padding-left: 1%;
}

.news {
	padding-left: 15px;
	display: flex;
	flex-direction: column;
}
.news li {
	padding-bottom: 10px;
}

.personal a:link {
	color:#555356;
}

.personal a:visited {
	color:#555356;
}

.personal a:hover {
	color: #555356;
}

.personal a:active {
	color: blue;
}

.links {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 5%;
    justify-content: center;
}

.links #link {
	padding-left: 5%;
}

.email {
    text-align: center;
}

h1  {
    margin: 0;
}

td {
    vertical-align: top;
    padding-bottom: 10px;
}

table {
    padding-top: 20px;
}