.site-header-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: #fff;
	border-bottom: 1px solid #d4d4d8;
}

.main-body {
	padding-top: 6.6rem;
	padding-bottom: 3rem;
}

@media (max-width: 700px) {
	.main-body {
		padding-top: 8.8rem;
	}
}
