body {
  background: #64a6bd;
  color: #f7f0f0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  float: left;
}

header {
  background: #484349;
  color: #f7f0f0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

header:hover {
  cursor: default;
}

nav ul {
  margin: 0;
  padding-top: 20px;
  list-style: none;
}

nav li {
  display: inline-block;
  /*margin-left: 10px;*/
  /*padding-top: 15px;*/
}

nav a:link, nav a:visited {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  transition: all .4s;
  padding: 20px 20px;
}

nav a:hover {
  color: #ef6f6c;
}

nav a:active {

}
